body {
  margin: 0;
  font-family: monospace;
}

.boxx {
  text-align: center;
  height: 100vh;
}

.mybox {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: none;
  margin: auto;
}

.input {
  max-width: 100%;
  width: 300px;
  font-family: monospace;;
  border: 1px solid black;
  outline: none;
  border-radius: 3px;
  padding: 5px;
}

.input:focus {
  box-shadow: 0px 0px 10px blue;
}

.btn {
  font-family: monospace;
}

#res {
  display: flex;
  max-width: 100%;
  width: 370px;
  margin: auto;
  margin-top: 30px;
  height: 350px;
  background-color: #eeeeee;
  padding: 3px;
  border-style: groove;
  overflow: auto;
}

#res a {
  text-decoration: none;
}

#res a:hover {
  text-decoration: underline;
  color: black;
}

hr {
  max-width: 100%;
  width: 600px;
}

#links {
  display: block;
  padding-left: 30px;
  padding: 1px;
  text-decoration: none;
  color: #062DA1;
  font-family: none;
  margin-left: 10px;
}

#links:hover {
  color: black;
}

#box {
  display: flex;
  align-items: center;
  font-family: monospace;
}

#art {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  max-width: 100%;
  width: 150px;
  margin: auto;
  padding: 5px;
  color: white;
  gap: 5px;
}

p {
  font-family: monospace;
}

.link-login {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

#lis {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(35, 72, 145);
}

#lis a { 
  text-decoration: none;
  color: #36c;
}

#lis a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

