body {
  font-family: "Segoe UI";
  background-color: #eee;
  font-size: 0.875rem;
}

.box {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

p {
  margin-bottom: 15px;
} 

h1 {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

hr {
  margin: 0;
  padding: 0;
}

a {
  color: darkblue;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  cursor: pointer;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 15px;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

blockquote {
  color: black;
  border-left: 4px solid black;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  margin: 0;
  background-color: beige;
}

.title h1 {
  margin: 0;
}
