@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Press+Start+2P&display=swap');

body {
  font-family: "Segoe UI";
  /* font-size: 0.875rem; */
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
  cursor: pointer;
  max-width: 300px;
  margin-right: 15px;
}

.parr img {
  float: right;
  max-width: 100%;
  width: 250px;
  margin-left: 5px;
}

p {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5714285;
}

#title {
  font-size: 30px;
  margin: 0;
}

h2,h3,h4,h5,h6 {
  margin: 0;
}

pre {
  padding: 1em;
  white-space: pre-wrap;
  overflow-x: hidden;
  word-wrap: break-word;
  background-color: #f8f9fa;
  border: 1px solid #eaecf0;
}
