@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Helvetica';
}

header {
  padding: .5em;
  width: 100%;
  box-sizing: border-box;
  background: #f4f6f8;
  border-bottom: 1px solid #aaa;
  display: flex;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
}

.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  max-width: 100%;
  width: 90px;
  height: 100%;
  color: black;
  padding: 7px;
}

#search {
  color: darkgrey;
}

#main {
  color: darkgrey;
  background-color: #f4f6f8;
}

#browse {
  color: black;
  background-color: #D3D3D3;
}

a {
  text-decoration: none;
}

.box {
  margin-left: auto;
  margin-right: auto;
  max-width: 55.8em;
}

.mybox {
  padding: 10px;
}

.mybox p {
  line-height: 1.5714285;
}

h1,h2,h3,h4,h5,h6 {
  font-family: none;
  font-weight: normal;
  margin: 0;
}
